<div id="wpak-note-first-box" class="wpak-note-box" style="display:none">
    <a href="#" class="wpak-note-close"><%= messages.close %></a>
    <p id="wpak-note-first-box-question"><%= messages.first_question %></p>
    <a href="#" id="wpak-note-first-box-yes" class="wpak-note-button"><%= messages.yes %></a>
    <a href="#" id="wpak-note-first-box-no" class="wpak-note-button"><%= messages.no %></a>
    <a href="#" id="wpak-note-first-box-later" class="wpak-note-button wpak-note-later"><%= messages.later %></a>
    <a href="#" id="wpak-note-first-box-dont-ask-again" class="wpak-note-button wpak-note-dont-ask-again"><%= messages.dont_ask_again %></a>
</div>

<div id="wpak-note-satisfied-box" class="wpak-note-box" style="display:none">
    <a href="#" class="wpak-note-close"><%= messages.close %></a>
    <p id="wpak-note-satisfied-box-question"><%= messages.vote_question %></p>
    <a href="#" id="wpak-note-satisfied-box-yes" class="wpak-note-button"><%= messages.yes %></a>
    <a href="#" id="wpak-note-satisfied-box-no" class="wpak-note-button"><%= messages.no %></a>
</div>

<div id="wpak-note-not-satisfied-box" class="wpak-note-box" style="display:none">
    <a href="#" class="wpak-note-close"><%= messages.close %></a>
    <p id="wpak-note-not-satisfied-box-question"><%= messages.tell_problems %></p>
    <a href="#" id="wpak-note-not-satisfied-box-yes" class="wpak-note-button"><%= messages.yes %></a>
    <a href="#" id="wpak-note-not-satisfied-box-no" class="wpak-note-button"><%= messages.no %></a>
</div>
